In [4]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("../data/raw/TCS_raw.csv")
df.head()

,Date,Close,High,Low,Open,Volume
0,NaN,TCS.NS,TCS.NS,TCS.NS,TCS.NS,TCS.NS
1,2014-01-01,825.899169921875,837.8659247587024,825.0553776934258,836.1783403018042,529952
2,2014-01-02,831.1533813476562,839.5914867420487,826.9918237311614,830.7698311024567,1726948
3,2014-01-03,852.3258666992188,854.9724212226067,823.5787766554338,830.2717138722599,2618174
4,2014-01-06,858.9998168945312,860.6874017948847,842.6605266236015,854.9341437614964,2311810

In [5]:
df.shape

(2466, 6)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2466 entries, 0 to 2465
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2465 non-null   object
 1   Close   2466 non-null   object
 2   High    2466 non-null   object
 3   Low     2466 non-null   object
 4   Open    2466 non-null   object
 5   Volume  2466 non-null   object
dtypes: object(6)
memory usage: 115.7+ KB

In [7]:
df.describe()

,Date,Close,High,Low,Open,Volume
count,2465,2466,2466,2466,2466,2466
unique,2465,2453,2466,2466,2466,2463
top,2023-12-29,1065.476806640625,3624.791709570154,3570.5514572660563,3595.775077575502,0
freq,1,2,1,1,1,2

In [8]:
df.isnull().sum()

Date      1
Close     0
High      0
Low       0
Open      0
Volume    0
dtype: int64